<ion-view view-title="Memories">
  <ion-content>
  <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <ul >
    <li ng-repeat="item in memories"> {{ item.data }} - [{{item.lat}},{{item.lon}}] </li>
</ul>
<hr>
       <form novalidate="novalidate" name="loginForm">
            
                <label class="item item-input">
                    
                    <input autocapitalize="off" type="data" name="data" placeholder="memory" ng-model="memory.data" required>
                </label>

            <div class="padding">
                <button class="button icon ion-log-in button-block button-royal" ng-click="sendMemory()">
                    Send Memory
                </button>
                
            </div>
        </form>
  </ion-content>
</ion-view>
